{{#partial "contenido"}}
	<script>
		function eliminar(self, nombre){
			if(confirm('Esta seguro de que desea eleminar el punto de interes:\n' + nombre)){
				self.parentElement.submit();
				
			}
		}
	</script>
  	<form>
 		 <div class="row">
            <div class="form-group col-xs-3">
				<!-- <label>Tipo:</label> -->
				<select class="form-control input-group-lg" name="tipoPOI" id="tipoPOI">
					{{#tipo}}
						<option value="{{this}}">{{this}}</option>
					{{/tipo}}
				</select>
				{{#if tipoBuscado}}
				<script type="text/javascript">
					$(document).ready(function(){
						$("#tipoPOI").val("{{tipoBuscado}}");
					})
				</script>
				{{/if}}
			</div>
            <div class="form-group col-xs-7">
				<!-- <label>Ingrese texto de busqueda:</label> -->
				<input class="form-control input-group-lg" type='text' value='{{textoBuscado}}' name='textoBuscado' placeholder="ej: Banco Patagonia"/>
				<!-- <a href='altaPOI'>Alta de Puntos de Interes</a> -->
			</div>

            <div class="form-group col-xs-2">
            	<input class="btn btn-success" type="submit" value="Buscar"/>
			</div>
		</div>
	</form>
 		<table class="table table-striped table-bordered">
		{{#if poi}}
		<tr>
			<!-- <th>#</th> -->
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Coordenadas</th>  				
			<th></th>		
		</tr>
		{{#poi}}
			<tr>
				<!-- <td>{{@index}}</td> -->
				<td>{{nombre}}</td>
				<td>{{direccion}}</td>
				<td>{{coordenadas.latitud}} : {{coordenadas.longitud}}</td>
				<td>
					<div class="row">
						<div class="form-group col-xs-2">
							<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-map-marker" ></span></button>
						</div>
            			<div class="form-group col-xs-2">
							<a href="/administracion/editar/{{id}}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit" ></span></button></a>
						</div>
						<div class="form-group col-xs-2">
							<form method="post" action="/administracion/eliminar">
								<input type="hidden" value="{{id}}" name="id"/>
								<button type="button" class="btn btn-danger" onclick="eliminar(this, '{{nombre}}');"><span class="glyphicon glyphicon-remove" ></span></button>
							</form>
						</div>
					</div>
				</td>    						
			</tr>
		{{/poi}}
		{{else}}
		<tr>
			<td><em>No se han encontrado resultados.</em></td>
		</tr>
		{{/if}}
	</table>
{{/partial}}

{{>PaginaBase.hbs}}