<html>
<body>
{{#if pois}}

    <h1>  {{nombre}} </h1>
    
    <p><strong>Direccion:</strong> {{direccion}}</p>
    <p><strong>Longitud:</strong> {{coordenadas.longitud}}</p>
    <p><strong>Latitud:</strong> {{coordenadas.latitud}}</p>
    <p><strong>palabra Clave:</strong> {{palabrasClave}}</p>
    
    {{#if rubro}}
    <p><strong>Rubro:</strong> {{nombre}}</p>
    {{/if}}
      
    {{#if horarioDeAtencion}}
    <p><strong>Dia y Horario de Atencion:</strong></p>
    {{#each horarioDeAtencion.horariosDeAtencionPorDia}}
        {{dia}},
        {{#each rangosDeHorario}}
        <strong>horarioInicio:</strong>
        {{horarioInicio}}
        <strong>horarioFin:</strong>
        {{horarioFin}}
        {{/each}}
        <p></p>
    {{/each}}
    {{/if}}
    
    {{#each servicios}}
    <h2> Servicio: {{nombre}} </h2>
    {{#each horarioDeAtencion.horariosDeAtencionPorDia}}
        <strong>dia:</strong>
        {{dia}},
        {{#each rangosDeHorario}}
        <strong>horarioInicio:</strong>
        {{horarioInicio}}
        <strong>horarioFin:</strong>
        {{horarioFin}}
        {{/each}}
        <p></p>
    {{/each}}
    {{/each}}
    
{{/if}}

</body>
<link rel="stylesheet" type="text/css" href="/css/estilo.css">


</html>
