<html>
{{#with pois}}
    <h1> POIs: {{nombre}} </h1>
    
    <p><strong>Nombre:</strong> {{nombre}}</p>
    <p><strong>Longitud:</strong> {{coordenadas.longitud}}</p>
    <p><strong>Latitud:</strong> {{coordenadas.latitud}}</p>
    <p><strong>palabra Clave:</strong> {{palabrasClave}}</p>
    <p><strong>horarioDeAtencion:</strong></p>   
    {{#each horarioDeAtencionBancario.horariosDeAtencionPorDia}}
        <tr>
            <td>{{dia}}</td>
        </tr>
    {{/each}}
    <p><strong>palabra Clave:</strong> {{palabrasClave}}</p>
    
{{/with}}

</html>
