{{#partial "contenido"}}

<script type="text/javascript">
$(document).ready(function(){

</script>

<form action="filtro" method="GET" id="formFiltroTerminal">
<select class="form-control" id="cmbFiltros" name="terminales">
	<option value="">Mostrar todas las terminales</option>
	{{#each terminales}}
		<option value="{{nombre}}">{{nombre}}</option>
	{{/each}}
</select>

<input type="date" class="form-control" id="txtFecha1" name="fechaInicial"/>
<input type="date" class="form-control" id="txtFecha2" name="fechaFinal"/>
<input type="number" class="form-control" id="txtNum" name="cantResultados"/>
<button type="submit" class="btn btn-default">Filtrar</button>
</form>
<br>

<table id="tabla" class="table table-stripped table-bordered">
	<thead>
	<tr>
		<td><strong>Texto buscado</strong></td>
		<td><strong>Terminal</strong></td>
		<td><strong>Fecha de busqueda</strong></td>
		<td><strong>Tiempo de respuesta</strong></td>
		<td></td>

	</tr>
	</thead>
	<tbody>
	{{#each busquedas}}
	<tr>
		<td>{{textoBuscado}}</td>
		<td>{{terminal.nombre}}</td>
		<td>{{fechaDeBusqueda}}</td>
		<td>{{tiempoDeRespuesta}}</td>
		<td>
			<a href="{{url}}" class="btn btn-info btn-lg" title="Mostrar POIs encontrados">
          		<span class="glyphicon glyphicon-list-alt"></span>
        	</a>
		</tr>
	{{/each}}
	</tbody>

</table>


{{/partial}}

{{>Administrador/PaginaBaseAdministrador.hbs}}
