{{#partial "contenido"}}
{{#if pois}}
    {{#each pois}}

        <h1>  {{nombre}} </h1>
        
        <p><strong>Direccion:</strong> {{direccion}}</p>
        <p><strong>Longitud:</strong> {{coordenadas.longitud}}, {{coordenadas.latitud}}</p>        
        <p><strong>Palabras clave:</strong> {{palabrasClave}}</p>
        
        {{#if rubro}}
        <p><strong>Rubro:</strong> {{nombre}}</p>
        {{/if}}
          
        {{#if horarioDeAtencion}}
        <p><strong>Dia y Horario de Atencion:</strong></p>
        {{#each horarioDeAtencion.horariosDeAtencionPorDia}}
            {{dia}},
            {{#each rangosDeHorario}}
            <strong>Horario de inicio:</strong>
            {{horarioInicio}}
            <strong>Horario de fin:</strong>
            {{horarioFin}}
            {{/each}}
            <p></p>
        {{/each}}
        {{/if}}
        
        {{#if servicios}}
        {{#each servicios}}
        <p><strong>Servicio:</strong> {{nombre}} </p>        
        {{/each}}
        {{/if}}
    {{/each}}

{{else}}
No se encontraron puntos de interes.
{{/if}}

{{/partial}}

{{>Administrador/PaginaBaseAdministrador.hbs}}